<div class="well well-small" style="text-align: center;color: grey;">
    <h4 style="color: #08C;">{{event.getTitle()}}  <i id="placeDescription" class="icon-question-sign" data-content="{{place.getDescription()|raw }}" data-html="true" data-placement="bottom" data-trigger="hover"></i></h4>
    {% set start = date(event.start|date("Y-m-d H:i")) %}
    {% set end = date(event.end|date("Y-m-d H:i")) %}
    <span style="text-transform: capitalize;">Du {{start|localizeddate('full', 'none')}}</span><span> &agrave; {{start| localizeddate('none', 'short')}}</span> - 
    <span style="text-transform: capitalize;">Au {{end|localizeddate('full', 'none')}}</span><span> &agrave; {{end| localizeddate('none', 'short')}}</span> 
</div>
<div class="well">
    <form action="" method="post" {{ form_enctype(formCours) }}>
        <div style="width: 290px;margin: 0 auto;">
        {% if form_errors(formCours) %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ form_errors(formCours) }}
            </div> 
        {% endif %}
            <div class="input-prepend">
                <span class="add-on">Nom</span><span class="input-large uneditable-input">{{ user.nom }}</span>
            </div><br />
            <div class="input-prepend">
                <span class="add-on">Prénom</span><span class="input-large uneditable-input">{{ user.prenom }}</span>
            </div><br />
            {{ form_rest(formCours) }}
            <div style="text-align: center;"><button class="btn btn-success">M'inscrire</button></div>
        </div>
    </form>
    <div style="padding-top: 10px;">
        <table class="table table-bordered table-condensed">
            <caption class="badge badge-inverse">Liste des inscrits</caption>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                </tr>
            </thead>
            <tbody>
            {% for userevent in event.getUsersevent() %}                        
                <tr>
                    <td>userevent.getUser().getNom()</td>
                    <td>userevent.getUser().getPrenom()</td>
                </tr>
            {% else %}
                 <tr>
                     <td colspan="2" style="text-align: center;">Aucun</td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
</div>
