{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }} - Modifier mon mot de passe
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('NeptuneVsMainBundle_homepage') }}">Accueil</a> <span class="divider">/</span></li>
        <li><a href="{{ path('fos_user_profile_show') }}">Mes Informations</a> <span class="divider">/</span></li>
        <li class="active">Modifier Mot De Passe</li>
    </ul>
    <div class="well" style="margin: 20px;">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {% if form_errors(form) %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ form_errors(form) }}
                </div> 
            {% endif %}
            <div class="input-prepend">
                <span class="add-on">{{ form_label(form.current , 'Mot de passe actuel') }}</span>
                {{ form_widget(form.current) }} 
                {{ form_errors(form.current) }}
            </div><br />     
            <div class="input-prepend">
                <span class="add-on">{{ form_label(form.new.first , 'Nouveau') }}</span>
                {{ form_widget(form.new.first) }} 
                {{ form_errors(form.new.first) }}
            </div><br /> 
            <div class="input-prepend">    
                <span class="add-on">{{ form_label(form.new.second , 'Vérification') }}</span>
                {{ form_widget(form.new.second) }} 
                {{ form_errors(form.new.second) }}
            </div><br />       
            {{ form_rest(form) }}
            <div>
                <input class="btn btn-small btn-success" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
{% endblock %}